/*https://templates.iqonic.design/product/lite/aprycot/html/dist/assets/images/favicon.png*/
* {
    box-sizing: border-box; 
}

.logo {
    width: 150px;
    margin-left: 20px;
    margin-top: 5px;
}
a{
    font-family:sans-serif;
    color: gray;
    font-size:20px;
}
h1{
    font-family:sans-serif;
    color: #06153B;
    font-size:20px;

}
h2{
    font-family: serif, Impact, sans-serif;
    color: #06153B;
    font-weight: bold;
    font-size:45px;
    text-align:center;
    
}
.cat{
    margin:2px 2px 2px 2px;
    letter-spacing: 1px;
    padding:13px;
    border:#EF9353 1px solid;
    border-radius: 50px;
    background-color: #FCFCF9;
    color:#EF9353;
    font-size:15px;
    font-family:sans-serif;
    transition: background-color 0.3ms ease;
}
.cat:hover{
    color:white;
    background-color: #EF9353;
    transition: color 0.3ms ease;
    transition: background-color 0.3ms ease;
}
#dashboard{
    overflow-x:clip;
    width: 100%;
    min-height: 100dvh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
    background-image: url("https://templates.iqonic.design/product/lite/aprycot/html/dist/assets/images/dashboard.png");
        background-position: center;          
    background-repeat: no-repeat;         
    background-size: cover;                
    background-attachment: fixed; 
    background-blend-mode: lighten;
}

    p{
    padding:0px;/*change*/
    margin:0px;
    }   

.bottom-left-image {
    right: 0px;
    bottom: 0px;
    position: fixed;
    width: 250px;      
    z-index: 5;
}

.column-right {
    position: absolute;
    margin-top: 50px;
    right: 20px;
    width: 90%;
    max-width: 950px;
    height: auto;
}

.column-left {
    width: auto;
    height: auto;
}

.greet{
    margin:50px;
    padding:60px;
    background-image: url("https://templates.iqonic.design/product/lite/aprycot/html/dist/assets/images/layouts/01.png");
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.3);
    width:1200px;
    height:400px;
    border-radius: 20px;


    .p1{
        line-height: 50px;
        font-family:sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        color:#EA6A12;
        font-weight: 500;
    }
    .p2{
        line-height: 80px;
        font-family:sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 600;
    }
    .check-menu{
        width:150px;
        height:50px;
        background-color: #EA6A12;
        color:#FCFCF9;
        font-size: 20px;
        border-radius: 30px;
        border-style:none;
        margin-top:30px;
    }
}

.hello-greet, .trending, .menu-category {
    font-family: serif, Impact, sans-serif;
    color: #06153B;
    font-weight: bold;
    margin-left: 60px;
    font-size:40px;
    
}


header {
    background-color: #FCFCF9;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}





.search-container{
    margin-left:50px;
}
.search-icon{
    width:30px;
    margin-left:35px;
    margin-top:30px;
    position:absolute;
}
.search{
    width:270px;
    height:45px;
    margin:20px;
    padding-top:5px;
    padding-left:60px;
    font-size:20px;
    border-radius:30px;
    border-style:solid;
    border-color:gray;
    color:gray;
}





.notf-icon, .mail-icon{
    width:30px;
    float:right;
    margin-right:30px;
    margin-top:29px;
}
.profile-icon{
    width:70px;
    float:right;
    margin-right:20px;
    margin-top:10px;
    border-radius: 50px;
}
.name{
    font-family:serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size:22px;
    margin-top: 15px;
    margin-right: 20px;
    color:#06153B;
    float:right;
    width:240px;
    line-height:30px;
}
.title{
    font-family:sans-serif;
    font-size:20px;
    letter-spacing: 1px;
    color:#EA6A12;
    font-weight: 500;
}
    .button{
        float:right;
        margin-top:23px;
        margin-right:66px;
        width:30px;
        height: 30px;
        padding:5px;
        background-color: #EF9353;
        border-radius:50px;
        text-align: center;
        transition: background-color 0.3s ease;
        .button-in{
            color:#FCFCF9; 
            font-weight:bold;
            font-size: 15px;
            text-align:top;
            transition: color 0.3s ease;
        }
    }
    
.view-all-1{
   margin-left: 925px;
     text-indent: 50px;
}
.view-all-2{
   margin-left: 950px;
     text-indent: 50px;
}
.view-button{
    padding:5px;
    border-radius:500px;
    background-color:#EA6A12;
    color:white;
    font-weight:bold;
}

.container-menu-1{
    display:flex;
    width: 1200px;
    padding:60px;
    margin-left:50px;
    .item{
        margin:20px;
        width: 170px;
        height: 300px;
        background-color: #FCFCF9;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }
    .item-name{
        text-align: center;
        font-family:sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 600;
        transition: color 0.3s ease;
    }
    .item-image{
        margin:20px;
    }
    .divider{
        color:#EF9353;
        text-align: center;
        font-size: 20px;
        white-space: nowrap;
        transition: color 0.3s ease;
    }
    .item:hover{
        background-color: #EF9353;
        transition: background-color 0.3s ease;
    }
     .item:hover .item-name, .item:hover .divider{
        color:#FCFCF9;
        transition: color 0.3s ease;
     }
    .item:hover .button-in{
        color:#EF9353;
        transition: color 0.3s ease;
    }
    .item:hover .button{
        background-color: #FCFCF9;
        transition: background-color 0.3s ease;
    }
}


.container-menu-2{
    display:flex;
    width: 1200px;
    padding:60px;
    margin-left:50px;
     .item{
        margin:15px;
        width: 500px;
        height: 330px;
        background-color: #FCFCF9;
        border-radius: 20px;
    }
    .item-image{
        width:200px;
        border-radius: 200px;
        margin-top:-70px;
        margin-left:30px;
    }
    .item-space{
        margin-top:20px;
        margin-left:30px;
    }
    .item-name{
        font-family:sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 600;
    }
    .stars{
        color:#EF9353;
        font-size: 30px;
        white-space: nowrap;
    }
    .item-price{
        color:#EF9353;
        font-size: 20px;
        margin-top:25px;
        font-weight: bold;
    }
    .button{
        margin-left:95px;
    }
    .button-add{
        color:#FCFCF9;
    }
    .item:hover{
        background-color:#EF9353;
        transition: background-color 0.3s ease;
    }
    .item:hover .item-name{
        color:#FCFCF9;
        transition: color 0.3s ease;
    }
    .item:hover .stars{
        color:#FCFCF9;
        transition: color 0.3s ease;
    }
    .item:hover .item-price{
        color:#FCFCF9;
        transition: color 0.3s ease;
    }
    .item:hover .button-add{
        color:#EF9353;
        transition: color 0.3s ease;
    }
    .item:hover .button{
        background-color: #FCFCF9;
        transition: background-color 0.3s ease;
    }
    
}
.container-menu-3{
    display:flex;
    width: 1300px;
    padding:10px;
}
.container-menu-4{
    display:flex;
    width: 1300px;
    padding:10px;
}
.container-menu-3, .container-menu-4{
    .item{
        margin-top:30px;
        margin-bottom:30px;
        margin-left:100px;
        margin-right:20px;
        width: 270px;
        height: 350px;
        background-color: #FCFCF9;
        border-radius: 20px;
        position: relative;
        padding:10px;
        padding-bottom:0px;
    }
    .item-image{
        width:230px;
        border-radius: 200px;
        position: absolute;
        right: -135px;
        top:30px;
        padding:30px;
    }
    .p1{
        line-height: 100px;
        font-family:sans-serif;
        font-size: 22px;
        letter-spacing: 1px;
        color:#EF9353;
        font-weight: 500;
        padding-left:10px;
    }
    .p2{
        line-height: 20px;
        font-family:sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: bold;
    }
    .p3,.p4{
        line-height: 50px;
        font-family:sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        color:gray;
        font-weight: 500;
    }
    .item-price{
        color:#EF9353;
        font-size: 20px;
        margin-top:25px;
        font-weight: bold;
    }
    .button-add{
        color:#FCFCF9;
    }
    .button{
        background-color:#EA6A12;
        margin-left:30px;
    }
    .item:hover .p1, .item:hover .p2, .item:hover .p3, .item:hover .p4,.item:hover .item-price,.item:hover .button{
       color:#FCFCF9;
       transition: color 0.3s ease;
    }
    .item:hover{
        background-color:#EF9353;
        transition: background-color 0.3s ease;
    }

}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav {
    padding-left:30px;
    height: 100%; 
    width: 20px; 
    position: fixed; 
    z-index: 10; 
    top: 0;
    left: 0;
    background-color: #FCFCF9;
    overflow-x: hidden; 
    padding-top: 20px;
    transition: width 0.5s ease;
    white-space: nowrap; 
}

.sidenav:hover {
    width: 250px;
}

.sidenav ul {
    font-family: sans-serif;
    padding: 8px 8px 8px 20px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}


.regis-container a, .confirm-container a, .login-container a, .dashboard-container a, .reset-container a {
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #FCFCF9;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(234, 106, 18, 0.2);
    font-weight: 200;
    color: #EA6A12;
    text-decoration: none;
    transition: all 0.3s ease;
}

.regis-container:hover a, .confirm-container:hover a, .login-container:hover a, .dashboard-container:hover a, .reset-container:hover a {
    background-color: #EA6A12;
    color: #FCFCF9;
}
.burger-image{
    position:absolute;
    top:-20px;
    width:450px;
    right:250px;
}
.burger-haha{
    margin:50px;
    height:240px;
    background-color: #FCFCF9;
    border-radius: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    padding:20px;
    .burger-text{
        font-family:sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        color:#06153B;
        text-align:center;
    }
}
.container{
    margin:50px;
    height:auto;
    background-color: #FCFCF9;
    border-radius: 20px;
    padding:30px 30px 30px 30px;
    .container-title{
       font-family:serif;
        font-size: 25px;
        font-weight:bold;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 500;
        display:block;
    }
    .divider{
        text-align: center;
        color:gray;
                margin-bottom:20px;
    }
    .item{
        font-family:serif;
        font-size: 25px;
        font-weight:bold;
        margin-top:50px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 500;
        display:block;
        text-align:center;
    }
    }
    .divider2{
        text-align: center;
        color:gray;

       margin-top:450px;
}
    .checkout{
       margin:auto;
       margin-top:25px;
       display:block;
        width:150px;
        height:50px;
        background-color: #EA6A12;
        color:#FCFCF9;
        font-size: 20px;
        border-radius: 30px;
        border-style:none;
}

#login, #reset, #regis, #confirm{
    overflow: hidden;   
}
body {
background-color: #FBF8F5;
    height: 100vh;     
    height: 100dvh;      
    width: 100vw;    
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
    box-sizing: border-box; 
}

.circle {
    background-blend-mode: lighten;
    position: fixed;
    top: -80%;
    right: -25%;
    width: 80%;
    z-index: -1;
}
.page-image {
    width: 100%;
    max-width: 800px;
    right:10%;
    display: block;
    position: fixed;
}
#regis{
    .user-left {
    margin-top:3%;
    margin-left:2%;
    width: 35%;
    height: auto;
    }
}
#login{
    .user-left {
    margin-top:7%;
    margin-left:2%;
    width: 35%;
    height: auto;
    }
}
#confirm{
    .user-left {
    margin-top:10%;
    margin-left:2%;
    width: 35%;
    height: auto;
    }
}
#reset{
    .user-left {
    margin-top:10%;
    margin-left:2%;
    width: 35%;
    height: auto;
    }
    
}


.textbox{
    width:100%;
    height:45px;
    margin:20px;
    padding:20px;
    font-size:20px;
    border-radius:30px;
    border-style:solid;
    color:gray;
    opacity: 50%;
}
.check{
    height:20px;
    width:20px;
    font-size:30px;
    border-radius:30px;
    border-style:solid;
    border-color:gray;
    color:gray;
}
.square-button{
       width:200px;
        height:50px;
        background-color: #EA6A12;
        color:#FCFCF9;
        font-size: 20px;
        border-radius: 5px;
        border-style:none;
        margin-top:30px;
}
.button-center{
    align-items: center;
    display:flex;
    margin-left:40%;
    margin-right:40%;
}

.social-links {
    display: flex;         
    justify-content: center; 
    align-items: center;    
    gap: 20px;       
    margin-top: 30px;      
    width: 100%;           
}

.social-links img {
    margin-left:25px;
    margin-right:25px;      
    width: 70px;           
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1);  
}

.input-name-container, .input-container {
  display: flex; 
  justify-content: center; 
  gap: 10px; 
}


.label-text {
    flex: 0 0 280px; 
    color: gray; 
    font-family:sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: left;
}

.textbox {
    flex: 0 0 280px; 
    height: 48px;  
    padding: 0 20px;
    border-radius: 48px;
    font-size: 15px;
    transition: all 0.3s ease;
}
.textbox:hover, .textbox:focus.search:hover,.search:focus {
    border: 1px solid #EA6A12; /* Added '1px solid' to ensure it's visible */
    transition: border-color 0.3s ease;
    outline: none; 
}
.checkmark{
    display:block;
    margin:auto;
    align-self: center;
    width:200px;
}

html {
  scroll-behavior: smooth;
}