/*https://templates.iqonic.design/product/lite/aprycot/html/dist/assets/images/favicon.png*/
.logo{
    width: 150px;
    margin-left: 20px;
    margin-top: 5px;
}
.cat{
    margin:2px 2px 2px 2px;
    letter-spacing: 1px;
    padding:13px;
    border:#EF9353 1px solid;
    border-radius: 50px;
    background-color: #FCFCF9;
    color:#EF9353;
    font-size:15px;
    font-family:sans-serif;
    transition: background-color 0.3ms ease;
}
.cat:hover{
    color:white;
    background-color: #EF9353;
    transition: color 0.3ms ease;
    transition: background-color 0.3ms ease;
}
body {
    margin: 0;
    padding: 0;
    width: 100%; /* Changed from 2400px */
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
    /*background*/
    background-image: url("https://templates.iqonic.design/product/lite/aprycot/html/dist/assets/images/dashboard.png");
    background-blend-mode: lighten;
    z-index: 1;
    .bottom-left-image {
    right:0px;
    bottom:0px;
    position:fixed;
    width: 250px;
    }
    p{
    padding:0px;/*change*/
    margin:0px;
    }   
}
.column-left{
        width:auto;
        height: 120%;
    }

.column-right{
    position:absolute;
    margin:50px;
    right:20px;
    width:1000px;
    height: 180%;
}
.view-all-1{
   margin-left: 925px;
     text-indent: 50px;
}
.view-all-2{
   margin-left: 950px;
     text-indent: 50px;
}
.view-button{
    padding:5px;
    border-radius:500px;
    background-color:#EA6A12;
    color:white;
    font-weight:bold;
}

.greet{
    margin:50px;
    padding:60px;
    background-image: url("https://templates.iqonic.design/product/lite/aprycot/html/dist/assets/images/layouts/01.png");
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.3);
    width:1200px;
    height:300px;
    border-radius: 20px;


    .p1{
        line-height: 50px;
        font-family:sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        color:#EA6A12;
        font-weight: 500;
    }
    .p2{
        line-height: 80px;
        font-family:sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 600;
    }
    .check-menu{
        width:150px;
        height:50px;
        background-color: #EA6A12;
        color:#FCFCF9;
        font-size: 20px;
        border-radius: 30px;
        border-style:none;
        margin-top:30px;
    }
}
    .hello-greet{
        font-family:serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
        color: #06153B;
        font-weight: bold;
        letter-spacing:0;
    }
    .trending, .menu-category{
        font-family:serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
        color: #06153B;
        font-weight: bold;
        letter-spacing:0;
        font-size:40px;
        margin-left:50px; 
    }
header {
    background-color: #FCFCF9;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/*search*/
.search-container{
    margin-left:50px;
}
.search-icon{
    width:30px;
    margin-left:35px;
    margin-top:33px;
    position:absolute;
}
.search{
    width:270px;
    height:45px;
    margin:20px;
    padding-top:5px;
    padding-left:60px;
    font-size:20px;
    border-radius:30px;
    border-style:solid;
    border-color:gray;
    color:gray;
}
input[type="text"]:hover {
    border-color: #EA6A12;
    transition:border-color 0.3s ease;
    outline: none; 
}
/*notif*/
.notf-icon, .mail-icon{
    width:30px;
    float:right;
    margin-right:30px;
    margin-top:29px;
}
.profile-icon{
    width:70px;
    float:right;
    margin-right:20px;
    margin-top:10px;
    border-radius: 50px;
}
.name{
    font-family:serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size:22px;
    margin-top: 15px;
    margin-right: 20px;
    color:#06153B;
    float:right;
    width:240px;
    line-height:30px;
}
.title{
    font-family:sans-serif;
    font-size:20px;
    letter-spacing: 1px;
    color:#EA6A12;
    font-weight: 500;
}
    .button{
        float:right;
        margin-top:23px;
        margin-right:66px;
        width:20px;
        height: 20px;
        padding:5px;
        background-color: #EF9353;
        border-radius:50px;
        text-align: center;
        transition: background-color 0.3s ease;
        .button-in{
            color:#FCFCF9; 
            font-weight:bold;
            font-size: 15px;
            text-align:center;
            transition: color 0.3s ease;
        }
    }
.container-menu-1{
    display:flex;
    width: 1200px;
    padding:60px;
    margin-left:50px;
    .item{
        margin:20px;
        width: 170px;
        height: 270px;
        background-color: #FCFCF9;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }
    .item-name{
        text-align: center;
        font-family:sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 600;
        transition: color 0.3s ease;
    }
    .item-image{
        margin:15px;
        transition: transform 0.3s ease;
    }
    .divider{
        color:#EF9353;
        text-align: center;
        font-size: 20px;
        white-space: nowrap;
        transition: color 0.3s ease;
    }
    .item:hover{
        background-color: #EF9353;
        transition: background-color 0.3s ease;
    }
     .item:hover .item-name{
        color:#FCFCF9;
        transition: color 0.3s ease;
     }
    .item:hover .divider{
        color:#FCFCF9;
        transition: color 0.3s ease;
    }
    .item:hover .button-in{
        color:#EF9353;
        transition: color 0.3s ease;
    }
    .item:hover .button{
        background-color: #FCFCF9;
        transition: background-color 0.3s ease;
    }
}


.container-menu-2{
    display:flex;
    width: 1200px;
    padding:60px;
    margin-left:50px;
     .item{
        margin:15px;
        width: 500px;
        height: 330px;
        background-color: #FCFCF9;
        border-radius: 20px;
    }
    .item-image{
        width:200px;
        border-radius: 200px;
        margin-top:-70px;
        margin-left:30px;
    }
    .item-space{
        margin-top:20px;
        margin-left:30px;
    }
    .item-name{
        font-family:sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 600;
    }
    .stars{
        color:#EF9353;
        font-size: 30px;
        white-space: nowrap;
    }
    .item-price{
        color:#EF9353;
        font-size: 20px;
        margin-top:25px;
        font-weight: bold;
    }
    .button{
        margin-left:95px;
    }
    .button-add{
        color:#FCFCF9;
    }
    .item:hover{
        background-color:#EF9353;
        transition: background-color 0.3s ease;
    }
    .item:hover .item-name{
        color:#FCFCF9;
        transition: color 0.3s ease;
    }
    .item:hover .stars{
        color:#FCFCF9;
        transition: color 0.3s ease;
    }
    .item:hover .item-price{
        color:#FCFCF9;
        transition: color 0.3s ease;
    }
    .item:hover .button-add{
        color:#EF9353;
        transition: color 0.3s ease;
    }
    .item:hover .button{
        background-color: #FCFCF9;
        transition: background-color 0.3s ease;
    }
    
}
.container-menu-3{
    display:flex;
    width: 1300px;
    padding:10px;
}
.container-menu-4{
    display:flex;
    width: 1300px;
    padding:10px;
}
.container-menu-3, .container-menu-4{
    .item{
        margin-top:30px;
        margin-bottom:30px;
        margin-left:100px;
        margin-right:20px;
        width: 270px;
        height: 350px;
        background-color: #FCFCF9;
        border-radius: 20px;
        position: relative;
        padding:10px;
        padding-bottom:0px;
    }
    .item-image{
        width:230px;
        border-radius: 200px;
        position: absolute;
        right: -135px;
        top:30px;
        padding:30px;
    }
    .p1{
        line-height: 100px;
        font-family:sans-serif;
        font-size: 22px;
        letter-spacing: 1px;
        color:#EF9353;
        font-weight: 500;
        padding-left:10px;
    }
    .p2{
        line-height: 20px;
        font-family:sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: bold;
    }
    .p3,.p4{
        line-height: 50px;
        font-family:sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        color:gray;
        font-weight: 500;
    }
    .item-price{
        color:#EF9353;
        font-size: 20px;
        margin-top:25px;
        font-weight: bold;
    }
    .button-add{
        color:#FCFCF9;
    }
    .button{
        background-color:#EA6A12;
        margin-left:30px;
    }
    .item:hover .p1, .item:hover .p2, .item:hover .p3, .item:hover .p4,.item:hover .item-price,.item:hover .button{
       color:#FCFCF9;
       transition: color 0.3s ease;
    }
    .item:hover{
        background-color:#EF9353;
        transition: background-color 0.3s ease;
    }

}

.sidenav {
list-style-type:none;
  height: 100%; 
  width: 10px;
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #FCFCF9; /* Black */
  overflow-x: hidden; 
  padding-top: 20px;
  transition: width 0.5s ease;
}


/* When you mouse over the navigation links, change their color */
.sidenav:hover {
  width:200px;
  transition: width 0.5s ease;
}
.sidenav ul{
  font-family:sans-serif;
  padding: 8px 8px 8px 20px;
  font-size: 15px;
  font-weight: bold;
  color: gray;
  display: block;
  transition: color 0.3s ease;
}

.dashboard-container a{
    display: flex;
    align-items: center;
    color: inherit;
    background: linear-gradient(135deg, #EA6A12 0%, #EF9353 100%);
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(234, 106, 18, 0.2);
    transition: all 0.3s ease;
    .dashboard-icon {
    width: 20px; /* Adjust size as needed */
    margin-right: 10px;
}
}

.burger-image{
    position:absolute;
    top:-20px;
    width:450px;
    right:280px;
}
.burger-haha{
    margin:50px;
    height:220px;
    background-color: #FCFCF9;
    border-radius: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    padding:20px;
    .burger-text{
        font-family:sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
        color:#06153B;
        text-align:center;
    }
}
.container{
    margin:50px;
    height:auto;
    background-color: #FCFCF9;
    border-radius: 20px;
    padding:30px 30px 30px 30px;
    .container-title{
       font-family:serif;
        font-size: 25px;
        font-weight:bold;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 500;
        display:block;
    }
    .divider{
        text-align: center;
        color:gray;
                margin-bottom:20px;
    }
    .item{
        font-family:serif;
        font-size: 25px;
        font-weight:bold;
        margin-top:50px;
        letter-spacing: 1px;
        color:#06153B;
        font-weight: 500;
        display:block;
        text-align:center;
    }
    }
    .divider2{
        text-align: center;
        color:gray;

       margin-top:450px;
}
    .checkout{
       margin:auto;
       margin-top:25px;
       display:block;
        width:150px;
        height:50px;
        background-color: #EA6A12;
        color:#FCFCF9;
        font-size: 20px;
        border-radius: 30px;
        border-style:none;
}

